@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff4e3;

}

.header {
  /* background-image: url("https://e1.pxfuel.com/desktop-wallpaper/793/281/desktop-wallpaper-all-anime-characters-group-with-68-items-cool-anime-characters.jpg"); */
  /* background-image: url("https://c4.wallpaperflare.com/wallpaper/404/1014/456/duelyst-video-games-multiple-display-wallpaper-preview.jpg"); */
  /* background-image: url("https://images6.alphacoders.com/391/391581.png"); */
  /* background-image: url("https://w0.peakpx.com/wallpaper/333/586/HD-wallpaper-demon-slayer-kimetsu-no-yaiba-banner.jpg"); */
  background-image: url("https://img.freepik.com/free-vector/sunset-anime-cloud-vector-cartoon-scene-background-summer-cloudy-weather-air-design-beautiful-pink-orange-purple-evening-panorama-wallpaper-fluffy-romantic-horizon-graphic-illustration_107791-24161.jpg?w=1380&t=st=1702738245~exp=1702738845~hmac=98b6f137c4fb734a97860221850ef02ba4db967b4933bbf478ea7c5ff715fb97");

  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  text-align: center;
  padding: 60px;
}

.title {
  color: rgba(0, 0, 0, 0.750);
  font-size: 56px;
  margin: 32px 0;
}

.search-box {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 44px 36px 36px;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 20px !important;
  height: 60px;
  width: 50%;
  margin-right: 10px;
  border: none;
}

input {
  text-align: center;
}

.anime-count {
  color: rgba(0, 0, 0, 0.750)
}

.btn-primary {
  border-radius: 20px;
  height: 60px;
  background-color: #9900ff;
  color: #fff;
  border: none;
}

.btn-secondary {
  font-size: 14px !important;
  border: none;
  color: black;
  border-radius: 10px;
  height: 32px;
  background-color: #ffffff;
}

.btn-primary:hover {
  background-color: #5b0098;
}

.container {
  justify-content: center;
}

.card {
  background: rgb(255, 153, 44);
  background: linear-gradient(270deg, rgba(255, 153, 44, 0.75) 0%, rgba(253, 216, 120, 0.75) 28%, rgba(255, 140, 52, 0.75) 75%, rgba(255, 33, 33, 0.75) 100%);
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 140px;
  height: 180px;
  object-fit: cover;
  border-radius: 25px;
  border: rgb(0, 0, 0, 0.5) solid;
  z-index: 1;
}

.card-title {
  font-size: 20px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: 32px;
  width: 80%;
}

.anime-content {
  flex-grow: 1;
  z-index: 2;
  padding-left: 150px;
}

.anime-info {
  display: flex;
  justify-content: space-between;
}

.anime-url {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anime-url button {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  background-color: rgb(50, 50, 50);
  padding: 20px;
  color: white;
  text-align: right;
}